/* reseteo*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    /*background-image: url("../img-favoritos/fondocomunatodos.jpg");*/
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    font-family: sans-serif;
    text-decoration-style: none;


}

/*------------------header y footer------------------*/

/* CSS HEADER */
header {
    display: inline-block;
    border: dotted yellow 4px;
}

.agrupar {
    width: 90vw;
    margin: 20px auto;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li {
    padding: 5px 20px;
    font: bold 16px helvetica;
    display: inline-block;
    margin-top: 15px;
    text-align: left;
}

.logo {
    font: bold 16px helvetica;
    text-decoration: none;
    color: black;
}

.buscador {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}


/* CSS FOOTER */
footer {
    border: 4px dotted yellow;
    margin-top: 15px;
}

.seguinos {
    font-size: 30px;
}

.buscador {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.imga1 {
    width: 100%;
    align-items: center;
    margin-top: 30px;
}

.link {
    font-size: 20px;
}








/*------------------detalles de pelicula--------------------*/

/*main*/

.main-container-detalle-peli {
    max-width: 1200px;
    margin: 0 auto;

}

/*titulo del html*/

.tituloPelicula {
    display: block;
    color: rgb(252, 252, 252);
    text-align: center;
    font-size: 50px;
    padding: 100px;
    font-family: sans-serif;
    font-style: italic
}

/*section de la pelicula*/

.pelicula-y-detalles {
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
    padding-bottom: 100px;
    
}

/*.objeto-de-lista-peli {
    padding: 25px;
    background-color: rgb(0, 0, 0);
    border: dotted 4px rgb(248, 248, 69);
    color: white;
    list-style-type: none;
    font-family: sans-serif;
}*/

.sinopsisPeli {
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    border: dotted 4px rgb(248, 248, 69);
    color: white;
    list-style-type: none;
    font-family: sans-serif;
    width: 360px;
}

.fechaPeli {
    
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    border: dotted 4px rgb(248, 248, 69);
    color: white;
    list-style-type: none;
    font-family: sans-serif;
    width: 360px;
}

.duracionPeli {
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    border: dotted 4px rgb(248, 248, 69);
    color: white;
    list-style-type: none;
    font-family: sans-serif;
    width: 360px;
}

.generoPeli {
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    border: dotted 4px rgb(248, 248, 69);
    color: white;
    
    font-family: sans-serif;
    width: 360px;
}

.calificacionPeli {
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    border: dotted 4px rgb(248, 248, 69);
    color: white;
    list-style-type: none;
    font-family: sans-serif;
    width: 360px;
}

.botonFavPeli {
    text-decoration: none;
    background-color: rgb(255, 196, 0);
    padding: 3px;
    font-weight: bold;
    border-radius: 20px;
    font-size: 20px;
    color: black;
    list-style-type: none;
    font-family: sans-serif;
    width: 360px;
}

.texto {
    list-style-type: none;
}

.foto-peli-detalle {
    border: dotted 5px rgb(248, 248, 69);
    background-color: black;
}

/*------------------detalles de genero--------------------*/
.tituloGeneroPeli   {
    padding: 20px;
    font-size: 30px;


}

.tituloGeneroSerie   {
    padding: 20px;
    font-size: 30px;


}

.articulo-peli-genero {
    width: 154px;
    height: 350px;
    display: flex;
    align-items: center;
   /* flex-direction: row;*/
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    
}

.articulo-serie-genero {
    width: 154px;
    height: 350px;
    display: flex;
    align-items: center;
   /* flex-direction: row;*/
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    
}

/*h2 {
    text-align: left;

}*/

main {

    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.guardaArticulos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
    flex-direction: row;
}

.guardaArticulosSerie {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
    flex-direction: row;
}


.portada-peliculas {
    width: 100%;
    align-items: center;
    margin-top: 40px;
}

/*------------------detalles de serie--------------------*/

/*main*/

.main-container-detalle-serie {
    max-width: 1200px;
    margin: 0 auto;

}

/*titulo del html*/


.tituloSerie {
    display: block;
    color: rgb(252, 252, 252);
    text-align: center;
    font-size: 50px;
    padding: 100px;
    font-family: sans-serif;
    font-style: italic
}

/*section de la serie*/

.serie-y-detalles {
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
    padding-bottom: 100px;     

}



.objeto-de-lista-serie {
    padding: 25px;
    background-color: rgb(0, 0, 0);
    border: dotted 4px rgb(248, 248, 69);
    color: white;
    list-style-type: none;
    font-family: sans-serif;
}


.sinopsisSerie {
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    border: dotted 4px rgb(248, 248, 69);
    color: white;
    list-style-type: none;
    font-family: sans-serif;
    width: 360px;
}

.fechaSerie {
    
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    border: dotted 4px rgb(248, 248, 69);
    color: white;
    list-style-type: none;
    font-family: sans-serif;
    width: 360px;
}

.duracionSerie {
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    border: dotted 4px rgb(248, 248, 69);
    color: white;
    list-style-type: none;
    font-family: sans-serif;
    width: 360px;
}

.generoSerie{
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    border: dotted 4px rgb(248, 248, 69);
    color: white;
    
    font-family: sans-serif;
    width: 360px;
}

.calificacionSerie {
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    border: dotted 4px rgb(248, 248, 69);
    color: white;
    list-style-type: none;
    font-family: sans-serif;
    width: 360px;
}

.botonFavSerie {
    text-decoration: none;
    background-color: rgb(255, 196, 0);
    padding: 3px;
    font-weight: bold;
    border-radius: 20px;
    font-size: 20px;
    color: black;
    list-style-type: none;
    font-family: sans-serif;
    width: 360px;
}

.foto-serie-detalle {
    border: dotted 5px rgb(248, 248, 69);
    background-color: black;
}

/*------------------pagina favoritos--------------------*/

/*main*/

.main-container-fav {
    max-width: 1000 px;
    margin: 0 auto;



}

/*titulo del html*/


.titulo-peli-fav {
    display: block;
    color: rgb(252, 252, 252);
    font-size: 50px;
    padding: 50px;
    margin: 0 auto;
    font-family: sans-serif;
    font-style: italic
}

.titulo-serie-fav {
    display: block;
    color: rgb(252, 252, 252);
    font-size: 50px;
    padding: 50px;
    margin: 0 auto;
    font-family: sans-serif;
    font-style: italic
}

/*section con las pelis/series*/

.pelicula-fav {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(252, 252, 252);
    

}

.peliculas-agregadas {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    max-width: 1200px;



}

.portada-fav {
    background-color: black;
    border: dotted 5px rgb(248, 248, 69);
}


.ver-boton {
    display: inline-block;
    text-decoration: none;
    color: blanchedalmond;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    background-color: black
}

.botonFavSerie {
    text-decoration: none;
    background-color: rgb(255, 196, 0);
    padding: 3px;
    font-weight: bold;
    border-radius: 20px;
    font-size: 20px;
    color: black;
    list-style-type: none;
    font-family: sans-serif;
    width: 360px;

}

/*------------------generos--------------------*/

.h3genero{
    padding: 20px;
    font-size: 30px;
}



.listpoint {
    text-decoration-style: none ;
}

.list-container-generos {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}

.list-container-generos-serie {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}


.list-container-generos li {
    color: black;
    background-color: rgb(255, 208, 0);
    height: 40px;
    width: 50vw;
    display: block;
    align-items: center;
    margin: 10px;
    border-radius: 20px;

}

.list-container-generos-serie li {
    color: black;
    background-color: rgb(255, 208, 0);
    height: 40px;
    width: 50vw;
    display: block;
    align-items: center;
    margin: 10px;
    border-radius: 20px;

}

/*------------------inicio--------------------*/

.botonVerMas {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 3px;
    background-color: rgb(255, 196, 0);
    font-weight: bold;
    border-radius: 20px;

    



}


.articulo-index {
    width: 154px;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

}

.h2-index {
    font-style: italic;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: white;
    /*background-color: black;
    border: 3px dotted rgb(255, 208, 0);*/

}

.main-index {

    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}



.guardaArticulosIndexPeli {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
   
   
}

.guardaArticulosIndexSeries {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
   
}

.guardaArticulosIndexMejorPuntuadas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
   
}

.imga1 {
    width: 100%;
    align-items: center;
    margin-top: 40px;
}

h3 {
    color: white;
    font-style: italic;


}
p{
    color: white;
}
/*------------------resultados de busqueda--------------------*/

.articulo-resultados {
    width: 180px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.h2-resultados {
    text-align: left;

}

.main-resultados {

    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.guardaArticulos-resultados {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.imga1-resultados {
    width: 100%;
    align-items: center;
    margin-top: 40px;
}


/*media queries*/

/*tablets */

@media (max-width: 780px) {
    .pelicula-y-detalles {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-items: center;
        padding-right: 100px;
        padding-left: 100px;

    }



    .objeto-de-lista-peli {
        font-size: 20px;
        padding: 25px;
        background-color: rgb(0, 0, 0);
        border: dotted 4px rgb(248, 248, 69);
        color: white;
        list-style-type: none;
        font-family: sans-serif;

    }

    .serie-y-detalles {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-items: center;
        padding-right: 100px;
        padding-left: 100px;

    }

    .objeto-de-lista-serie {
        font-size: 20px;
        padding: 25px;
        background-color: rgb(0, 0, 0);
        border: dotted 4px rgb(248, 248, 69);
        color: white;
        list-style-type: none;
        font-family: sans-serif;

    }

    .titulo-peli-fav {
        display: block;
        color: rgb(252, 252, 252);
        font-size: 30px;
        padding: 50px;
        text-align: center;
        font-family: sans-serif;
        font-style: italic
    }

    .pelicula-fav {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 30px;
        color: rgb(252, 252, 252);
       


    }



    .ver-boton {
        display: inline-block;
        text-decoration: none;
        color: blanchedalmond;
        align-items: center;
        font-size: 30px;
        padding: 30px;
        background-color: black
    }



}


/* dispositivos moviles*/

@media (max-width: 420px) {
    .pelicula-y-detalles {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-items: center;
        padding-right: 100px;
        padding-left: 100px;


    }

    .objeto-de-lista-peli {
        font-size: 20px;
        background-color: rgb(0, 0, 0);
        border: dotted 4px rgb(248, 248, 69);
        color: white;
        list-style-type: none;
        font-family: sans-serif;
        width: 360px;


    }


    .guardaArticulos {
        flex-direction: column;
    }

    .serie-y-detalles {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-items: center;
        padding-right: 100px;
        padding-left: 100px;


    }

    .objeto-de-lista-serie {

        font-size: 20px;
        background-color: rgb(0, 0, 0);
        border: dotted 4px rgb(248, 248, 69);
        color: white;
        list-style-type: none;
        font-family: sans-serif;
        width: 360px;


    }

    .guardaArticulosIndexSeries {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }

    .guardaArticulosIndexPeli {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
       
       
    }

    .guardaArticulosIndexMejorPuntuadas {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
       
       
    }



}