.list-container{
    display: flex;
    flex-direction: row;
    list-style-type: none ;
    justify-content: center;
}

.list-container li{
    background-color: rgb(255, 208, 0);
    height: 40px;
    width: 400px;
    display: block;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    
}
@media screen {
    
}